html, body {
  max-width: 175px;
  overflow: hidden;
  color: #457B9D;
  background-color: #F1FAEE;
  padding: 5px;
}

.hidden {
  display: none;
}

.btn-standard:hover {
  background-color: #a8dadc;
}

.btn-standard {
  width:155px;
  height:155px;
  background-color: black;
  display: inline-block;
  text-align: center;
  border: none;
  max-width: 100%;
  background-color: #F1FAEE;
}

.btn-standard .svg {
  scale: 6;
}

svg.bi {
  pointer-events: none;
}

hr.divider {
  border-top: 1px dashed #1D3557;
  margin-right: 10px;
}

span {
  display: inline-block;
  color: #457B9D;
}

.text-success {
  color:#457B9D !important;
}

.text-warning {
  color:#E63946 !important;
}