html, body {
  width: 175px;
  overflow: hidden;
  color: #457B9D;
  background-color: #F1FAEE;
  padding: 5px;
}

.button-area {
  text-align: center;
}

.button {
  width:120px;
  height:120px;
  background-color: #F1FAEE;
  display: block;
  max-width: 100%;
  border: none;
  color: #E7ECEF;
  text-align: center;
  display: inline-block;
}

.button .svg {
  scale: 6;
}

hr.divider {
  border-top: 1px dashed #1D3557;
  margin-right: 10px;
}

span {
  display: inline-block;
  color: #457B9D;
}

.text-success {
  color:#457B9D !important;
}

.text-warning {
  color:#E63946 !important;
}